asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
crispy-tailwind==1.0.3
Django==6.0.3
django-allauth==65.15.1
django-crispy-forms==2.6
django-htmx==1.27.0
django-tailwind==4.4.2
gunicorn==25.3.0
idna==3.11
packaging==26.0
pytailwindcss==0.3.0
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
stripe==15.0.1
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
